.dividercomp img    {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-top: -15;
}

.oservice   {
    padding: 20px 40px;
    font-size: 45px;
    text-transform: uppercase;
}