.heropage       {
    padding: 20px 40px;
}

.heroimage__texts       {
    display: flex;
    flex-direction: column;
    width: 65%;
    color: white;
}

.heroimage__texts h2    {
    font-size: 60px;
    width: 80%;
    text-align: left;
    margin-top: 20rem;
    margin-bottom: 5rem;
    letter-spacing: 0.3rem;
}

.heroimage__texts p {
    font-size: 16px;
    text-align: left;
    line-height: 3.5rem;
    width: 70%;
    
}

.herobookdes  {
padding: 17px 35px;
outline: none;
border-radius: 10px;
background-color: #D03DC1;
border: #D03DC1 1px solid;
color: white;
cursor: pointer;
font-size: 14px;
margin-top: 5rem;
transition: all .3s cubic-bezier(.165, .84, .44, 1);
}

.herobookdes:hover  {
    transform: translate(0, -8px);
    box-shadow: 0 10px 16px -6px rgba(65, 6, 3, .31);

}