.navbar {
  padding: 30px 40px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
  transition: all 0.3s ease-out 0s;
  border-bottom: none;
  background: transparent;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbarlists {
  list-style-type: none;
  display: flex;
  gap: 20px;
  /* padding: 20px; */
}

.navbarimg {
  display: flex;
  z-index: 1;
}

.navbarimg nav {
  display: flex;
  min-height: 2px;
  -webkit-box-align: center;
  align-items: center;
}

.navbarimg nav a {
  font-weight: 500;
  font-size: 1.3em;
  display: block;
  margin-right: 40px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.navbarimg img {
  width: 40px;
  margin-right: 50px;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 30px;
  height: 20px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  transition: transform 0.5s ease 0s;
  margin-left: 70px;
}

.menu div {
  height: 2px;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  transition: all 0.2s ease-out 0s;
  position: unset;
}

.menu div:first-child {
  width: 70%;
}

.menu div:last-child {
  width: 50%;
  margin-bottom: 0px;
}

.btnmenu {
  display: flex;
  align-items: center;
  z-index: 1;
}

.bookkdes {
  padding: 12px 18px;
  outline: none;
  border-radius: 6px;
  background-color: #d03dc1;
  border: #d03dc1 1px solid;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bookkdes:hover {
  transform: translate(0, -8px);
  box-shadow: 0 10px 16px -6px rgba(65, 6, 3, 0.31);
}

.mobilemenulinks    {
    display: none;
}

.backgrounddis  {
  display: none;
}

.scrolled   {
  background-color: rgb(63, 6, 116,0.8);
}

@media (max-width: 820px) {
  .navbarimg nav {
    display: none;
  }

  .menu {
    display: flex;
  }

  .mobilemenulinks    {
    pointer-events: auto;
    color: white;
    position: relative;
    z-index: 2147483647;
    /* padding-right: ;
    padding-bottom: ;
    padding-left: ; */
    transform: translateX(0px);
    opacity: 1;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    transition: transform 0.6s ease 0.4s, opacity 0.6s ease 0.4s;
    overflow: auto;
    position: absolute;
}


  .menuclose {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30px;
    height: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s ease 0s;

  }

  .menuclose div:first-child {
    width: 70%;
    top: 50%;
    transform: translateY(-100%) rotate(-45deg);
}

.menuclose div:nth-child(2) {
    transform: translate(400px, -50%);
}

.menuclose div {
    height: 2px;
    background-color: var(--white);
    width: 100%;
    border-radius: 8px;
    transition: all 0.2s ease-out 0s;
    position: absolute;
}

.menuclose div:last-child {
    width: 70%;
    margin-bottom: 0px;
    bottom: 50%;
    transform: rotate(45deg);
}

.menu   {
  margin-left: 30px;
}

.backgrounddis  {
  box-sizing: border-box;
    position: fixed;
    top: 0px;
    bottom: 0px;
    transition: width 0.7s ease 0.4s, opacity 0.6s ease 0.4s;
    width: 0;
    display: flex;
}

.backgroundclose  {
  box-sizing: border-box;
    position: fixed;
    top: 0px;
    bottom: 0px;
    transition: width 0.7s ease 0.4s, opacity 0.6s ease 0.4s;
    width: 100%;
}

.backgroundclose .spandiv  {
   position: fixed;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    z-index: 1;
    top: 0px;
}

.backgroundclose .spandiv span {
  transition: height 0.8s ease-out 0s;
    background: rgba(18, 0, 36, 0.914);
    display: block;
    height: 100vh;
}

backgroundclose .spandiv span:nth-child(2) {
  transition: height 0.8s ease-out 0.3s;
}

backgroundclose .spandiv span:nth-child(3) {
  transition: height 0.8s ease-out 0.6s;
}

backgroundclose .spandiv span:nth-child(4) {
  transition: height 0.8s ease-out 0.9s;
}

.mobilemenulinks {
  pointer-events: none;
  color: white;
  position: absolute;
  z-index: 2147483647;
  /* padding-right: ;
    padding-bottom: ;
    padding-left: ; */
  transform: translateX(100px);
  opacity: 0;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 0.6s ease 0.4s, opacity 0.6s ease 0.4s;
  overflow: auto;
}

.mobilemenuOpen {
    pointer-events: auto;
    color: white;
    position: absolute;
    z-index: 2147483647;
    /* padding-right: ;
    padding-bottom: ;
    padding-left: ; */
    transform: translateX(0px);
    opacity: 1;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    transition: transform 0.6s ease 0.4s, opacity 0.6s ease 0.4s;
    overflow: auto;

}
}