.textscompo  {
    margin-bottom: 20px;
    padding: 0px 60px;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
  }
  

.pinkytext   {
    font-size: 45px;
    text-transform: uppercase;
    color: #D03DC1;
    text-align: center;
    /* font-family: 'DM Sans', sans-serif; */
    font-weight: 700;
}

.teamtxtP   {
    color: rgb(63, 6, 116);
    text-align: center;
    margin-top: 80px;
    font-family: 'DM sans', sans-serif;
    font-weight: 400;
    
}

.teamtxt   {
    color: #efefef;
    text-align: center;
    margin-top: 30px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;
}



@media(max-width:600px){
    .pinkytext {
        font-size: 35px;
    }
}

@media(max-width:350px){
    .pinkytext {
        font-size: 25px;
    }
}

