.servicesTextsndImg     {
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    margin: 40px auto;
    justify-content: space-between;
    align-items: center;
    
}

.servicesTexts  {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.servicesTexts h2   {
    font-size: 30px;
    color: rgb(63, 6, 116);
    margin: 20px 0px;
}

.serviceimg     {
    width: 45%;
}

.serviceimg img {
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
}

.servicesTexts p {
    text-align: left;
    width: 100%;
    line-height: 4rem;
    font-size: 16px;
}

.servicesTextsndImg:nth-child(even) {
    flex-direction: row-reverse;
}

.allservices {
    width: 240px;
    height: 2px;
    display: flex;
    background-color: #D03DC1;
    margin: auto;
}