body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #e4d3ff;
  background-image: url('../src/assets/svgbg.png');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navhero  {
  /* height: 100vh; */
  background: url(../src/assets/backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #f0f0f0;
  /* position: relative; */
}


.flexdiv  {
  display: flex;
  width: 100%;
  justify-content: center;
    align-items: center;
}
.success-message {
  background-color: #4CAF50; /* Background color */
  color: white; /* Text color */
  padding: 10px; /* Padding around the message */
  text-align: center; /* Center-align text */
  position: fixed; /* Position it fixed on the screen */
  bottom: 20px; /* Distance from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Set a high z-index to ensure it's displayed above other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  border-radius: 4px; /* Rounded corners */
  transition: opacity 0.3s ease; /* Add a smooth fade-in effect */
  opacity: 1; /* Initially hidden */
}

/* .success-message.active {
  opacity: 1;
} */

@media (max-width: 768px) {
  .navhero  {
    background-size: contain;
    background-position: top;
  }
}