body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #e4d3ff;
  background-image: url('../src/assets/svgbg.png');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navhero  {
  height: 100vh;
  background: url(../src/assets/backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}


.flexdiv  {
  display: flex;
  width: 100%;
  justify-content: center;
    align-items: center;
}

/* .pattern  {
  width: 100vw;
  height: 100vh;
  mix-blend-mode: soft-light;
  position: fixed;
  z-index: -100;
}

.pattern  img  {
  position: relative;
  width: 100vw;
} */