body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #e4d3ff;
  background-image: url('../src/assets/svgbg.png');
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navhero  {
  background: url(../src/assets/backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #f0f0f0;
  
}


.flexdiv  {
  display: flex;
  width: 100%;
  justify-content: center;
    align-items: center;
}
.success-message {
  background-color: #4CAF50; 
  color: white;
  padding: 10px;
  text-align: center; 
  position: fixed; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 1000; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 4px; 
  transition: opacity 0.3s ease; 
  opacity: 1; 
}



@media (max-width: 768px) {
  .navhero  {
    background-size: contain;
    background-position: top;
  }
}